In [ ]:
##TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer 
#order forms. Any error in order form renders it defective and has to be reworked before processing.  
#The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level 
#and help the manager draw appropriate inferences

# Ho: Independence of categorical variables (customer order forms defective % does not varies by centre) 
# Ha: Dependence of categorical variables (customer order forms defective % varies by centre)

In [28]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
data=pd.read_csv('D:/Work/Data Science and Analyst Course/ExcelR/Data Science/Assignments/3_Hypothesis Testing/Costomer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [13]:
[var1,var2]=data.Phillippines.value_counts()
print(var1)
print(var2)

271
29

In [14]:
[var3,var4]=data.Indonesia.value_counts()
print(var3)
print(var4)

267
33

In [15]:
[var5,var6]=data.Malta.value_counts()
print(var5)
print(var6)

269
31

In [17]:
[var7,var8]=data.India.value_counts()
print(var7)
print(var8)

280
20

In [22]:
observations=np.array([[var1,var3,var5,var7],[var2,var4,var6,var8]])
observations

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [34]:
[stats_value,p,df,expt_obs]=stats.chi2_contingency(observations)           #o/p is (Chi2 stats value, p_value, df, expected obsvations)
p

0.2771020991233135

In [35]:
alpha=0.05     #5% significance level
if p>alpha:
    print("We accept the null hypothesis means Independence of categorical variables (customer order forms defective % does not varies by centre)")
else:
    print("We reject the null hypothesis means Dependence of categorical variables (customer order forms defective % varies by centre)")

We accept the null hypothesis means Independence of categorical variables (customer order forms defective % does not varies by centre)