In [ ]:
# Assignment 3 Exercise 3
# Sales of products in four different regions is tabulated for males and females. Find if male-female buyer 
#rations are similar across regions.

# here, chi square is used to test the hypothesis as variables are categorical

#Assume null hypothesis H0=All propotions are equal
#Alternate Hypothesis Ha=Not all proportiona are equal

In [2]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
data=pd.read_csv('D:/Work/Data Science and Analyst Course/ExcelR/Data Science/Assignments/3_Hypothesis Testing/BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
data1=data.iloc[:,1:6]
data1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [6]:
val=stats.chi2_contingency(data1) #o/p is (Chi2 stats value, p_value, df, expected obsvations)
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [7]:
value=[[50,142,131,70],[435,1523,1356,750]]
value

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [8]:
stats.chi2_contingency(value)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [9]:
observed_value = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected_value = np.array([42.76531299,  146.81287862,  131.11756787, 72.30424052, 442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [16]:
stat, p= stats.chisquare(observed_value, expected_value, ddof = 3)
p

0.8095206646905712

In [18]:
alpha=0.05     #5% significance level
if p>alpha:
    print("We accept the null hypothesis means male and females buyer ratios are similar and independent samples")
else:
    print("We reject the null hypothesis means male and females buyer ratios are not similar")

We accept the null hypothesis means male and females buyer ratios are similar and independent samples